---
const { src, alt } = Astro.props;

interface Props {
  src: ImageMetadata;
  alt: string;
}
---

<div class="shrink-0">
  <img
    class="size-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
    src={src.src}
    alt={alt}
    width={src.width}
    height={src.height}
    loading="lazy"
  />
</div>
