---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import TuAn from "@images/monasteries/tu-an-monastery.avif";
import DuyPhap from "@images/monasteries/duy-phap-monastery.avif";
import faqs from "@database/en/faqs.json";
import { partnersData } from "@/database/constants";
---

<MainLayout>

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <FeaturesNavs
    title=`<span class="text-yellow-500 dark:text-yellow-400">Patriarchal Zen Monasteries (abroad)</span>`
    tabs={[
      {
        heading: "Từ Ân monastery",
        content: "4310 W 5th St, Santa Ana, CA 92703, USA",
        svg: "house",
        src: TuAn,
        alt: "Patriarchal Zen Monasteries",
        first: true,
      },
      {
        heading: "Duy Pháp monastery",
        content: "14851 Wilson St, Midway City, CA 92655, USA",
        svg: "house",
        src: DuyPhap,
        alt: "Patriarchal Zen Monasteries",
        second: true,
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="Patriarchal Zen,"
    ;
    testimonials={[
      {
        content:
          "Patriarchal Zen dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with Patriarchal Zen tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <HeroSectionAlt
    title="Let's Practise Zen"
    subTitle="Patriarchal Zen"
    url="#"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  />

  <AnnouncementBanner
      btnId="dismiss-button"
      btnTitle="Explore Patriarchal Zen"
      url="https://www.youtube.com/c/T%C3%B4ngPhongT%E1%BB%95S%C6%B0Thi%E1%BB%81n/videos"
  />
</MainLayout>
