---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import DuyLuc from "@images/monasteries/duy-luc-monastery.avif";
import QuySon from "@images/monasteries/quy-son-monastery.avif";
import PhatDa from "@images/monasteries/phat-da-monastery.avif";
import faqs from "@data/vi/faqs.json";
import { getRelativeLocaleUrl } from "astro:i18n";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
let theme = 'dark'; // Default before hydration
---

<MainLayout lang="vi">
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Tông Phong Tổ Sư Thiền"
    url="https://www.youtube.com/c/T%C3%B4ngPhongT%E1%BB%95S%C6%B0Thi%E1%BB%81n/videos"
  />

  <FeaturesNavs
    title=`<span class="text-yellow-500 dark:text-yellow-400">Thiền đường Tổ Sư Thiền (Việt Nam)</span>`
    tabs={[
      {
        heading: "Thiền Viện Duy Lực",
        content: "VVMJ+JQG, Unnamed Road, An Hoà, Biên Hòa, Đồng Nai, Việt Nam",
        svg: "house",
        src: DuyLuc,
        alt: "Thiền đường Tổ sư thiền",
        first: true,
      },
      {
        heading: "Thiền Tự Quy Sơn",
        content: "G4H3+RG2, Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
        svg: "house",
        src: QuySon,
        alt: "Thiền đường Tổ sư thiền",
        second: true,
      },
      {
        heading: "Chùa Tam Bảo",
        content: "",
        svg: "house",
        src: QuySon,
        alt: "Thiền đường Tổ sư thiền",
        second: true,
      },
      {
        heading: "Chùa Phật Đà",
        content: "362 Nguyễn Đình Chiểu, Phường 4, Quận 3, Tp. Hồ Chí Minh, Việt Nam",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Thiền đường Liễu Quán 1",
        content: "",
        svg: "house",
        src: DuyLuc,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Lá Huyền Trang",
        content: "",
        svg: "house",
        src: QuySon,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Thiên Trì",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Liên Hoa",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Liên Hương",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Phật Quang",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Chùa Thiện Quang",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Phước Điền Tự",
        content: "",
        svg: "house",
        src: QuySon,
        alt: "Thiền đường Tổ sư thiền",
      },
      {
        heading: "Phước Lộc Tự",
        content: "",
        svg: "house",
        src: PhatDa,
        alt: "Thiền đường Tổ sư thiền",
      },
    ]}
  />

  <TestimonialsSection
    title="Tổ sư thiền"
    subTitle="Tổ sư thiền"
    testimonials={[
      {
        content:
          "Tổ sư thiền",
        author: "Samantha Ruiz",
        role: "Directrice des opérations | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "Tổ sư thiền 1",
      },
      {
        count: "35%",
        description:
          "Tổ sư thiền 2",
      },
      {
        count: "15,3%",
        description:
          "Tổ sư thiền 3",
      },
      {
        count: "2x",
        description:
          "Tổ sư thiền 4",
      },
    ]}
  />

  <FAQ title="Tổ sư thiền<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Tổ sư thiền"
    subTitle="Tổ sư thiền"
    url="https://github.com/trannhukhoinguyen/patriarchal-zen"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  />
</MainLayout>
