---
import MainLayout from "../layouts/MainLayout.astro";
import Icon from "astro-icon";
---

<MainLayout title="About">
    <div
            id="playlist-container"
            class="relative transition-all duration-1000 bg-context"
            style="min-height:300px;--context-color:#134e4a;"
    >
        <div>
            About...
        </div>
    </div>
</MainLayout>
