---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { partnersData } from "@database/constants";

import LinjiYixuan from "@images/masters/cn/Linji_Yixuan.jpg";

import DuyLuc from "@images/monasteries/duy-luc-monastery.avif";
import QuySon from "@images/monasteries/quy-son-monastery.avif";
import ThanhLong from "@images/monasteries/quy-son-monastery.avif";
import PhatDa from "@images/monasteries/phat-da-monastery.avif";
import TamBao from "@images/monasteries/phat-da-monastery.avif";
import LieuQuan1 from "@images/monasteries/phat-da-monastery.avif";
import HuyenTrang from "@images/monasteries/phat-da-monastery.avif";
import ThienTri from "@images/monasteries/phat-da-monastery.avif";
import LienHoa from "@images/monasteries/phat-da-monastery.avif";
import LienHuong from "@images/monasteries/phat-da-monastery.avif";
import PhatQuang from "@images/monasteries/phat-da-monastery.avif";
import ThienQuang from "@images/monasteries/phat-da-monastery.avif";
import PhuocDien from "@images/monasteries/phat-da-monastery.avif";
import PhuocLoc from "@images/monasteries/phat-da-monastery.avif";

import faqsZen from "@database/faqs.json";
import faqsReasonResult from "@database/faqs1.json";
import faqsOther from "@database/faqs2.json";
import faqsStories from "@database/faqs3.json";
---

<MainLayout lang="vi">

  <FAQ title="Duy Lực Ngữ Lục<br />Giải Nghi về<br />Tổ Sư Thiền" faqs={faqsZen} />
  <FAQ title="Duy Lực Ngữ Lục<br />Giải Nghi về<br />Nhân quả" faqs={faqsReasonResult} />

  <FeaturesNavs
      title=`<span class="text-yellow-500 dark:text-yellow-400">Thiền đường Tổ Sư Thiền (Việt Nam)</span>`
      tabs={[
        {
          heading: "Thiền Viện Duy Lực",
          content: "VVMJ+JQG, Unnamed Road, An Hoà, Biên Hòa, Đồng Nai, Việt Nam",
          svg: "house",
          src: DuyLuc,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Thiền Tự Quy Sơn",
          content: "G4H3+RG2, Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: QuySon,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Tu Viện Thanh Long",
          content: ", Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: ThanhLong,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Tam Bảo",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: TamBao,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Phật Đà",
          content: "362 Nguyễn Đình Chiểu, Phường 4, Quận 3, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: PhatDa,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Thiền đường Liễu Quán 1",
          content: "Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: LieuQuan1,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Lá Huyền Trang",
          content: "Huyện Nhà Bè, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: HuyenTrang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Thiên Trì",
          content: "Huyện Bình Chánh, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: ThienTri,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Liên Hoa",
          content: "Huyện Bình Chánh, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: LienHoa,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Liên Hương",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: LienHuong,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Phật Quang",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: PhatQuang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Thiện Quang",
          content: "Bà Rịa, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: ThienQuang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Phước Điền Tự",
          content: "Châu Đốc, An Giang, Việt Nam",
          svg: "house",
          src: PhuocDien,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Phước Lộc Tự",
          content: "Tân Biên, Tây Ninh, Việt Nam",
          svg: "house",
          src: PhuocLoc,
          alt: "Thiền đường Tổ sư thiền",
        },
      ]}
  />

  <TestimonialsSection
      title="TỨ LIỆU GIẢN"
      subTitle="4 cách để thấy và đi vào thực tại - 4 Phép Độ Người"
      testimonials={[
        {
          content:
              "Có khi (hữu thời), cho thấy không nhất định, chỉ tùy duyên, tùy căn cơ, tùy người. Như vậy bốn câu không phải theo thứ tự, câu sau có giá trị hơn câu trước. Như người xưa nói, “tùy bệnh mà cho thuốc”." +
              "Đoạt là lấy đi, lấy hết. Như đoạt mạng. Chữ đoạt này khiến chúng ta liên tưởng đến pháp trekcho (cắt đứt, phá thấu qua), một trong hai pháp của Đại Toàn Thiện. Đoạt nhân bất đoạt cảnh có thể hiểu là Cắt đứt nhân không cắt đứt cảnh." +
              "Nhân là chủ thể, con người với mọi phiền não, mê mờ của nó. Cảnh là sự vật, người khác, thiên nhiên, thế giới. Theo Đại thừa, nhân là ngã, cảnh là pháp. Vô ngã và vô pháp là thực tại rốt ráo." +
              "Nhân là chủ thể, con người. Nhưng con người này gồm cả tham, sân, si, kiêu mạn, đố kỵ, nghi ngờ… Chính những phiền não này làm con người bị phân mảnh: tình cảm này chống lại tình cảm khác, ý muốn này mâu thuẫn với ý muốn khác, ý nghĩ này chiến đấu với ý nghĩ khác. " +
              "Đó do đó con người bị phân mảnh, và con người bị phân mảnh nên cảnh, đối tượng của nó cũng bị phân mảnh, bị nhiễm ô." +
              "Hơn nữa trong phán đoán phân biệt của con người có sự nặng nhẹ khác nhau. Của tôi thì nặng hơn của anh. Và trong các phiền não tham, sân, si, kiêu mạn, đố kỵ của tôi, có cái nặng có cái nhẹ. " +
              "Trọng lượng của cảnh, của người khác, của thế giới, không chỉ là trọng lượng khách quan của chúng, mà cái chính là trọng lượng của những phiền não cá nhân, và chính những phiền não cá nhân này quyết định cách con người thấy cảnh, thấy thế giới. Cảnh, thế giới được thấy qua người phân biệt, phiền não." +
              "Tóm lại người thế nào thì cảnh thế ấy. Con người thế nào thì thế giới thế ấy. Tác động lên người cũng tức là tác động lên cảnh, và ngược lại. Tịnh hóa người cũng tức là tịnh hóa cảnh, và ngược lại.",
          author: "(Thiền sư) Lâm Tế Nghĩa Huyền",
          role: "Tổ sáng lập | Lâm Tế Tông",
          avatarSrc: LinjiYixuan || '',
        },
      ]}
      statistics={[
        {
            count: "Hữu thời đoạt nhân bất đoạt cảnh",
            description: "Hú nhật phát sinh phô địa cẩm. Anh hài thùy phát bạch như ty.",
        },
        {
            count: "Hữu thời đoạt cảnh bất đoạt nhân",
            description: "Vương lệnh dĩ hành biến thiên hạ. Tướng quân tái ngoại tuyệt yên trần.",
        },
        {
            count: "Hữu thời nhân cảnh câu đoạt",
            description: "Tịnh Phần tuyệt tín. Độc xử nhất phương.",
        },
        {
            count: "Hữu thời nhân cảnh bất câu đoạt",
            description: "Vương đăng bảo điện. Dã lão âu ca.",
        },
      ]}
  />

  <HeroSectionAlt
      title="Tổ sư thiền"
      subTitle="Tổ sư thiền"
      url="https://github.com/trannhukhoinguyen/patriarchal-zen"
  />

  <ClientsSection
      title="Trusted by Industry Leaders"
      subTitle="Experience the reliability chosen by industry giants."
      partners={partnersData}
  />

  <AnnouncementBanner
      btnId="dismiss-button"
      btnTitle="Tông Phong Tổ Sư Thiền"
      url="https://www.youtube.com/c/T%C3%B4ngPhongT%E1%BB%95S%C6%B0Thi%E1%BB%81n/videos"
  />
</MainLayout>
