---
import Icon from "astro-icon";

const {
    videoId,
    title,
    start = 0,
    autoplay = false,
} = Astro.props;

const params = new URLSearchParams({
    autoplay: autoplay ? '1' : '0',
    start: start.toString(),
    rel: '0',
    modestbranding: '1',
});

const src = `https://www.youtube.com/embed/${videoId}?${params.toString()}`;
---

<div class="w-full aspect-video rounded-xl overflow-hidden shadow-lg">
    <iframe
            class="w-full h-full"
            src={src}
            title={title}
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
</div>
